<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style/output.css" />
    <title>Book Tracker</title>
  </head>
  <body class="bg-pink-50 text-gray-700">
    <!-- Head part title and navigation -->
    <section
      id="header"
      class="bg-pink-bg bg-top bg-cover bg-no-repeat rounded-b-xl mb-10 lg:bg-center md:bg-center"
    >
      <div class="container mx-auto pt-6">
        <h1
          class="l text-center text-6xl mb-24 font-semibold text-white/80 md:text-8xl lg:text-8xl"
        >
          The Librarian
        </h1>
        <div class="flex justify-center">
          <button
            id="add-new-book-btn"
            class="text-white px-3 py-1 text-xl font-semibold mb-8 bg-white/10 backdrop-blur-2xl border-2 border-white rounded-2xl hover:-translate-y-1"
          >
            Add new
          </button>
        </div>
        <div
          id="add-book-div"
          class="p-4 hidden flex justify-center mt-10 lg:mt-16"
        >
          <form
            action="/add-book"
            method="POST"
            class="flex flex-col max-w-xl flex-grow space-y-2"
          >
            <p class="text-center text-white text-xl font-semibold">
              Begin your new read!
            </p>

            <input
              class="p-1 rounded-lg focus:outline-none focus:border-2 focus:border-pink-300"
              type="text"
              placeholder="ISBN NUMBER"
              name="isbn"
            />
            <input
              class="p-1 rounded-lg focus:outline-none focus:border-2 focus:border-pink-300"
              type="text"
              placeholder="TITLE"
              name="title"
            />
            <input
              class="p-1 rounded-lg focus:outline-none focus:border-2 focus:border-pink-300"
              type="date"
              name="date"
            />
            <input
              class="p-1 mb-4 rounded-lg focus:outline-none focus:border-2 focus:border-pink-300"
              type="number"
              placeholder="GRADE"
              name="grade"
            />
            <input
              class="border-2 bg-white/35 backdrop-blur-2xl border-white rounded-2xl font-bold text-xl text-white mt-2 self-center px-4 py-1 hover:-translate-y-1"
              type="submit"
              value="ADD"
            />
          </form>
        </div>
      </div>
    </section>

    <!-- filter section -->
    <section id="filter">
      <div class="container mx-auto">
        <div class="pl-4">
          <button
            id="filter-menu-btn"
            class="bg-white py-1 px-4 text-xl rounded-xl font-semibold uppercase flex space-x-1 shadow-lg"
          >
            <span> Filter</span>
            <span class="self-center"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                height="20px"
                viewBox="0 -960 960 960"
                width="20px"
                fill="#5f6368"
              >
                <path d="M480-384 288-576h384L480-384Z" />
              </svg>
            </span>
          </button>
        </div>
        <!-- filter options section -->
        <div id="filter-options" class="pl-5 mt-4 hidden">
          <div>
            <form class="flex space-x-2" action="/search" method="GET">
              <input
                name="search"
                type="text"
                placeholder="SEARCH"
                class="p-1 rounded-lg focus:outline-none focus:border-2 focus:border-pink-300"
              />
              <button type="submit">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  height="24px"
                  viewBox="0 -960 960 960"
                  width="24px"
                  fill="#5f6368"
                >
                  <path
                    d="M784-120 532-372q-30 24-69 38t-83 14q-109 0-184.5-75.5T120-580q0-109 75.5-184.5T380-840q109 0 184.5 75.5T640-580q0 44-14 83t-38 69l252 252-56 56ZM380-400q75 0 127.5-52.5T560-580q0-75-52.5-127.5T380-760q-75 0-127.5 52.5T200-580q0 75 52.5 127.5T380-400Z"
                  />
                </svg>
              </button>
            </form>
            
            <!-- <div class="flex justify-start space-x-5 mt-2">
              <form action="/top" method="POST">
                <button
                  class="font-semibold border-b-2 border-gray-300"
                  type="submit"
                >
                  TOP PICKS
                </button>
              </form>
              <form action="/asc" method="POST">
                <button
                  class="font-semibold border-b-2 border-gray-300"
                  type="submit"
                >
                  ASC &uarr;
                </button>
              </form>
              <form action="/desc" method="POST">
                <button
                  class="font-semibold border-b-2 border-gray-300"
                  type="submit"
                >
                  DESC &darr;
                </button>
              </form>
            </div> -->
          </div>
        </div>
      </div>
    </section>

    <!-- book display part -->
    <section id="book-display">
      <div class="container mx-auto">
        <% if(locals.books){ %>

        <!-- book card container -->
        <div class="p-4 grid grid-cols-1 gap-6 md:grid-cols-3 lg:grid-cols-4">
          <% books.forEach(book => { %>

          <!-- individual book card -->

          <div
            class="bg-white rounded-2xl overflow-hidden flex flex-col max-w-sm shadow-lg hover:scale-105"
          >
            <img class="w-full h-80" src="<%= book.img_url %>" />
            <!-- text-box -->
            <div class="relative mt-4 px-3 pb-4">
              <h2 class="uppercase text-center text-2xl mb-3">
                <%= book.title %>
              </h2>

              <p class="text-left">ISBN: <%= book.isbn %></p>
              <p>
                Started reading: <%= new
                Date(book.reading_date).toISOString().split("T")[0] %>
              </p>
              <p>My grade: <%= book.grade %>/10</p>

              <!-- grade color -->
              <% let color="bg-green-400"; if(book.grade<4){ color="bg-red-400"
              }else if(book.grade<7){ color="bg-yellow-400" } %>
              <div
                class="absolute right-3 top-1 <%=color%> h-4 w-4 rounded-full opacity-80"
              ></div>
            </div>
            <!-- action part -->
            <div class="flex justify-center space-x-4 pb-4">
              <form action="/delete/<%= book.id %>" method="POST">
                <button id="del-btn" type="submit">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    height="24px"
                    viewBox="0 -960 960 960"
                    width="24px"
                    fill="#5f6368"
                  >
                    <path
                      d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z"
                    />
                  </svg>
                </button>
              </form>

              <form action="/edit/<%= book.id %>" method="POST">
                <button>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    height="24px"
                    viewBox="0 -960 960 960"
                    width="24px"
                    fill="#5f6368"
                  >
                    <path
                      d="M200-200h57l391-391-57-57-391 391v57Zm-80 80v-170l528-527q12-11 26.5-17t30.5-6q16 0 31 6t26 18l55 56q12 11 17.5 26t5.5 30q0 16-5.5 30.5T817-647L290-120H120Zm640-584-56-56 56 56Zm-141 85-28-29 57 57-29-28Z"
                    />
                  </svg>
                </button>
              </form>
              <a href="/notes/<%= book.id %>"
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  height="24px"
                  viewBox="0 -960 960 960"
                  width="24px"
                  fill="#5f6368"
                >
                  <path
                    d="M320-240h320v-80H320v80Zm0-160h320v-80H320v80ZM240-80q-33 0-56.5-23.5T160-160v-640q0-33 23.5-56.5T240-880h320l240 240v480q0 33-23.5 56.5T720-80H240Zm280-520v-200H240v640h480v-440H520ZM240-800v200-200 640-640Z"
                  />
                </svg>
              </a>
            </div>
          </div>

          <% }); %>
        </div>

        <% }else{ %>
        <p>Noo books yet!</p>
        <% } %>
      </div>
    </section>

    <!-- pagination -->
    <section id="pagination" class="mt-4">
      <div class="container mx-auto flex justify-center">
        
          <div class="flex space-x-2 items-center">
            <% if (page > 1) { %>
            <a
              class="block bg-white p-2 rounded-full flex justify-center items-center"
              href="/?page=<%= page - 1 %>&search=<%= searchTerm %>"
              ><span>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  height="20px"
                  viewBox="0 -960 960 960"
                  width="20px"
                  fill="#5f6368"
                >
                  <path
                    d="M384-96 0-480l384-384 68 68-316 316 316 316-68 68Z"
                  />
                </svg> </span
            ></a>
            <% } %>

            <p  ></p><%= page %></p>

            <a
              class="block bg-white p-2 rounded-full flex justify-center items-center"
              href="/?page=<%= page + 1 %>&search=<%= searchTerm %>"
              ><span
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  height="20px"
                  viewBox="0 -960 960 960"
                  width="20px"
                  fill="#5f6368"
                >
                  <path
                    d="m288-96-68-68 316-316-316-316 68-68 384 384L288-96Z"
                  /></svg></span
            ></a>
          
        </div>


      </div>
    </section>

    <!-- footer -->
    <section id="footer" class="pb-4">
      <footer class="text-center mt-24 text-slate-500/70">
        <p>Copyright &copy; 2024 Antonio BLašković</p>
        <p>Persistent storage project</p>
      </footer>
    </section>

    <script>
      const addNewBookBtn = document.getElementById("add-new-book-btn");
      const addNewBookDiv = document.getElementById("add-book-div");

      addNewBookBtn.addEventListener("click", () => {
        addNewBookDiv.classList.toggle("hidden");

        if (!addNewBookDiv.classList.contains("hidden")) {
          addNewBookBtn.innerHTML = "Close";
        } else {
          addNewBookBtn.textContent = "Add new";
        }
      });

      const filterMenuBtn = document.getElementById("filter-menu-btn");
      const filterMenu = document.getElementById("filter-options");

      filterMenuBtn.addEventListener("click", () => {
        filterMenu.classList.toggle("hidden");
      });
    </script>
  </body>
</html>
